<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello World.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB2FE0641F2F4ABD00F25678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2FE0781F2F4ABD00F25678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2FE0831F2F4ABE00F25678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
