<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Monster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBBFD3E51F3044BD00D2D57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBBFD3F91F3044BD00D2D57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBBFD4041F3044BD00D2D57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
